table {
  border: 2px solid #000000;
  border-radius: 3px;
  background-color: #fff;

  th {
      background-color: #000000;
      color: rgba(255, 255, 255, 0.66);
    }
  
    td {
      background-color: #f9f9f9;
    }
  
    th,
    td {
      min-width: 120px;
      height: 25px;
      text-align: center;
      padding: 5px 10px;
    }
}

