@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;800;900&display=swap);

* {
  position: relative;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html,
body {
  height: 100vh;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  background-color: #f0f0f0;
}